# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
flow-typed

# testing
coverage

# production
es
lib
dist
sigma
storybook-static

# misc
.DS_Store
.env
npm-debug.log
