# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
flow-typed

# testing
coverage

# production
es
!scripts/es/
lib
!scripts/lib/
dist
!scripts/dist/
sigma
!scripts/sigma/
stats
!scripts/stats
storybook-static

# misc
.DS_Store
.env
npm-debug.log
